.section {
  background: #1A1B3A;
  padding: 120px 0;
  direction: rtl;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  flex-direction: row-reverse;
  /* 👈 הפוך */
}

/* ========= טקסט ========= */

.textWrapper {
  max-width: 400px;
  text-align: right;
  /* 👈 חשוב ל-RTL */
  margin-left: 250px;
  
  
}

.title {
  font-family: var(--font-leon);
  line-height: normal;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 1.2px;
  padding-top: 10px;

  background: linear-gradient(115deg, #E6B360 29.01%, #FFFCC1 51.11%, #E6B360 70.37%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description {
  color: #fff;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 70px;

}

.subText {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  line-height: 21px;
  margin-bottom: 10px;
}

.date {
 font-family: var(--font-leon);
  font-size: 76.533px;
  color: #fff;
  margin-bottom: 20px;
}

/* ========= כפתורים ========= */

.buttons {
  display: flex;
  gap: 12px;
  justify-content: flex-start;
  margin-left: 0;
}

.primaryBtn {
  height: 36px;
  padding: 6px 15px;
  border-radius: 18px;
  background: #E5B260;
  color: #1A1B3A;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.secondaryBtn {
  height: 36px;
  padding: 6px 15px;
  border-radius: 18px;
  border: 1px solid #E6B360;
  background: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

/* ========= ויזואל ========= */

.visualWrapper {
  position: relative;
  width: 453px;
  height: 640px;
}

/* ריבוע כהה */
.darkSquare {
  position: absolute;
  width: 536px;
  height: 483px;
  background: #212250;
  transform: rotate(90deg);

  top: 80px;
  left: -80px;
  /* 👈 במקום right */
  z-index: 1;
}

/* ריבוע זהב */
.goldSquare {
  position: absolute;
  width: 536px;
  height: 411px;
  border: 1px solid #E6B360;
  transform: rotate(90deg);

  top: 120px;
  left: 25px;
  /* 👈 במקום right */
  z-index: 2;
}

/* תמונה */
.imageWrapper {
  position: relative;
  width: 453px;
  height: 640px;
  z-index: 3;
}

.image {
  object-fit: cover;
}

@media (max-width: 1200px) {
  .section {
    padding-inline: clamp(24px, 5vw, 80px);
  }

  .grid {
    column-gap: 16px;
    row-gap: 30px;
  }

  .cardTitle {
    font-size: 22px;
  }

  .text {
    font-size: 15px;
  }
}


@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 14px;
    row-gap: 26px;
  }

  .image {
    height: 200px;
  }

  .content {
    height: auto;
    padding: 20px 22px 80px 22px;
  }

  .cardTitle {
    max-width: 100%;
    font-size: 20px;
  }

  .text {
    max-width: 100%;
  }
}


