:root {
  --gold: linear-gradient(115deg, #5A431F, #F2D27A, #5A431F);
}
.section {
  background: #1A1B3A;
  padding: 120px 0;
  overflow: hidden;
}

/* כותרת */
.header {
  text-align: center;
  margin-bottom: 60px;
}

/* "עבדו איתנו" */
.title {
  font-family: var(--font-leon);
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1.2px;
  background: linear-gradient(
    115deg,
    #E6B360 29.01%,
    #FFFCC1 51.11%,
    #E6B360 70.37%
  );

  background-clip: text;
  -webkit-background-clip: text;

  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* תיאור */
.subtitle {
  max-width: 497px;
  width: 100%;
  margin: 0 auto;
  margin-top: -10px;
  font-family: var(--font-leon);
  font-weight: 400;
  color: #FFF;
  letter-spacing: 1.5px;
  
  font-size: 22px;
  line-height: 21px;
}

/* קונטיינר של כל השורות */
.circlesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  margin-top: 80px;
  /* מרחק מהכותרת */
}

/* שורה עליונה */
.topRow {
  display: flex;
  gap: 39px;
  justify-content: center;

  width: 100%;
}




/* שורה תחתונה - מוזזת שמאלה */
.bottomRow {
  display: flex;
  gap: 39px;
  justify-content: center;

  transform: translateX(-90px);
  /* 👈 משחקים לפי הצורך */
}

/* עיגול */
.circle {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: #252A62;
  flex-shrink: 0;
}